<ul class="calendar-list">
  <li *ngFor="let calendar of filteredCalendars">
    <div class="calendar-entry">
      <div class="outer-wrapper">
        <p class="heading"><b>{{calendar.name}}</b></p>
        <div class="inner-wrapper">
          <div class="icons">
            <p><i class="fas fa-map-marker-alt"></i></p>
            <p><i class="far fa-clock"></i></p>
          </div>

          <div class="values">
            <p>{{calendar.location}}</p>
            <p>{{calendar.date.toLocaleTimeString('de-DE', {hour: '2-digit', minute: '2-digit'})}}
              Uhr</p>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>