.calendar-entry{
  p{
    font-size: 1.3rem;
    margin: 0.2em 0;
  }
  i{
    margin-right: 10px;
  }
  display: flex;
  flex-direction: column;
  div.inner-wrapper{
    display: flex;
    flex-direction: row;
  }
  p.heading{
    font-size: 1.5rem;
    margin: 0;
  }
}


.calendar-list{
  list-style: none;
  padding-left: 0;
  margin-top: -1px;
  li:first-child{
    margin-top: 0px;
    background: #4f6f8f;
    // border-color: #fff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background: #10a81d;
  }
  li:last-child{
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  li{
    border: 1px solid rgba(0,0,0,0.13);
    padding-left: 50px;
    padding-right: 50px;
    background: #910c0c;
    color: #fff;
  }
}