<div class="container">
  <h2>Admin</h2>
  <select [(ngModel)]="selectedMaId" (change)="changeSelected()">
    <option value="0" disabled selected>MA Auswählen</option>
    <option [value]="ma.id" *ngFor="let ma of mas">{{ma.name}} {{ma.uuid}}</option>
  </select>

  <input type="text" placeholder="Name" [(ngModel)]="selectedMa.name">
  <span *ngIf="selectedMaId !== 0">Created at: {{ selectedMa.createdAt | date:'short' }}</span>
  <button class="submit" (click)="saveChanges()">Speichern</button>

  <select [(ngModel)]="selectedCalendarId" (change)="changeSelectedCalendar()">
    <option value="0" disabled selected>Kalender Eintrag Auswählen</option>
    <option [value]="calendar.id" *ngFor="let calendar of calendars">{{calendar.name}}</option>
  </select>
  <input type="text" placeholder="Name" [(ngModel)]="selectedCalendar.name">
  <input type="text" placeholder="Ort" [(ngModel)]="selectedCalendar.location">
  <div class="row">
    <input [owlDateTime]="dt2" placeholder="Date Time" [(ngModel)]="selectedCalendar.date">
    <span [owlDateTimeTrigger]="dt2"><i class="fa fa-calendar"></i></span>
    <owl-date-time #dt2></owl-date-time>
  </div>
  <div class="row center">
    <button class="submit" (click)="saveCalendar()">Speichern</button>
    <button class="submit" (click)="addCalendar()"><i class="fas fa-plus-circle"></i>Neu anlegen</button>
    <button class="danger" (click)="deleteCalendar()"><i class="fa fa-trash" aria-hidden="true"></i>Löschen</button>
  </div>
</div>