.container{
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    select{
        width: 40vw;
        height: 2rem;
        font-size: 1.5rem;
        background:  #f8f9fa;
    }
    *{
        margin-bottom: 1rem;
    }
    input{
        width: calc( 40vw - 30px );
        height: 2rem;
        font-size: 1.5rem;
        background:  #f8f9fa;
        border: 1px solid rgba(0,0,0,0.13);
        border-radius: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .submit{
        background: #2ecc71;
        color: #fff;
        border: 1px solid #2ecc71;
        height: 35px;
        font-size: 1.6rem;
        // width: 10vw; 
        border-radius: 15px;
    }
    .danger{
        background: #e74c3c;
        color: #fff;
        border: 1px solid #e74c3c;
        height: 35px;
        font-size: 1.6rem;
        // width: 10vw; 
        border-radius: 15px;
    }
}