/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');
@import "~ng-pick-datetime/assets/style/picker.min.css";
.container{
    height: 100vh;
    width: 100%;
    background: #ecf0f1;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #2c3e50;
}

h1,h2,h3,h4,h5{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

d-none{
    display: none !important;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    *{
        margin: 0 !important;
    }
    width: 40vw;
}

.center{
    justify-content: center;
}