.header{
    text-align: center;
}

@media only screen and (max-width: 600px) {
    ul.malist{
        width: 90% !important;
        margin-right: 0 !important;
    }
    app-calendar-view{
        width: 90% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    div.group{
        padding: 0 !important;
        width: 100% !important;
    }
    h3{
        margin: 0;
        text-align: center;
        padding: 0;
    }
    div.header{
        margin-bottom: 20px;
    }

}

ul.malist{
    list-style: none;
    padding-left: 1rem;
    width: 90%;
    margin-right: 10%;
    li{
        font-size: 1.4rem;
        border: 1px solid #2c3e50;
        margin-top: -1px;
        height: 2rem;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        div{
            display: inherit;
            width: 100%;
        }
        i{
            margin-left: auto;
        }
    }
    li:first-child{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    li:last-child{
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

.bg-red{
    background: #910c0c;
    color: #ecf0f1;
    border-color: #720a0a !important;
}

.bg-green{
    background: #10a81d;
    border-color: #0e8618 !important;
    color: #ecf0f1;
}

.mainlist{
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5vw;
    margin-right: 5vw;
}

app-calendar-view{
    width: 90%;
    margin-left: calc(10px + 1rem);
    margin-right: 0;
}

.group{
    display: inherit;
    flex-direction: column;
    width: 50%;
    h3{
        padding-left: 1rem;
    }
}