<div class="header">
  <h1>TSG</h1>
</div>

<div class="mainlist">
  <div class="group">
    <h3>Wer ist gerade da?</h3>
    <ul class="malist">
      <ng-container *ngFor="let ma of mas">
          <li [ngClass]="{'bg-green': ma.status, 'bg-red': !ma.status}" *ngIf="ma.name"><span>{{ma.name}}</span><i class="fa" [ngClass]="{'fa-check-circle': ma.status, 'fa-times-circle': !ma.status}" aria-hidden="true"></i></li>
      </ng-container>
    </ul>
  </div>
  <div class="group">
    <h3 style="margin-left: 10px; margin-bottom: 1rem;">Was steht an?</h3>
    <app-calendar-view></app-calendar-view>
  </div>
</div>